{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
	<html lang="en" class="ie ie9 csstransforms csstransforms3d csstransitions user_bg_layout"> 
		<!--<![endif]-->
    <head>
{% block head %}
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <!-- Mobile Specific Metas
            +++++++++++++++++++++++++++ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" href="{% static 'fighterweb/img/favicon.png' %}">
    <title>The Fighter Web - Combat Sports Network</title>
{% endblock %}

{% block css %}
    {% include "shared/css.html" %}
{% endblock css %}

{% block js %}
    {% include "shared/js.html" %}
{% endblock js %}
    </head>

    <body>
        <!-- H E A D E R -->
        <hr class="headline">
        <div class="main_wrapper">
            <header>
                {% block header %}
                    {% include "shared/header.html" %}
                {% endblock header %}
            </header>
            <!-- C O N T E N T -->
            <div class="content_wrapper">
                <div class="container">
                    <div class="content_block right-sidebar row">
                        <div class="fl-container span9">
                            <div class="row">
                                <div class="posts-block span9">
                                    <div class="contentarea">

                                        {% block slider %}
                                            {% include "shared/slider.html" %}
                                        {% endblock slider %}

                                        {% block content %}
                                        {% endblock content %}

                                    </div><!-- .contentarea -->
                                </div>
                                <div class="left-sidebar-block span3">
                                    {% block left_sidebar %}
                                      
                                    {% endblock left_sidebar %}
                                </div><!-- .left-sidebar -->
                            </div>
                            <div class="clear"><!-- ClearFix --></div>
                        </div><!-- .fl-container -->
                        <div class="right-sidebar-block span3">
                            <aside class="sidebar">
                            {% block right_sidebar %}
                              {% include "shared/login.html" %}
                              {% include "shared/stupid_sidebar.html" %}
                            {% endblock %}
                            </aside>
                        </div><!-- .right-sidebar -->
                        <div class="clear"><!-- ClearFix --></div>
                    </div>
                </div><!-- .container -->
            </div><!-- .content_wrapper -->
        </div><!-- .main_wrapper -->

        {% block pre_footer %}
        {% include 'shared/pre_footer.html' %}
        {% endblock pre_footer %}

        {% block footer %}
        {% include 'shared/footer.html' %}
        {% endblock footer %}
        
        <div class="custom_bg_cont" style="background-color: #505050;">
          
        </div>

    </body>
</html>
