{% extends "layouts/base_homepage.html" %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid">
    <div class="span3 module_cont module_iconboxes">
        <div class="shortcode_iconbox">
            <div class="ico">*</div>
            <h5 class="iconbox_title">Local Events</h5>
            <p>The best way to find events in your area</p>
        </div>
    </div><!--.module_cont -->
    <div class="span3 module_cont module_iconboxes">
        <div class="shortcode_iconbox">
            <div class="ico">0</div>
            <h5 class="iconbox_title">Support Athletes</h5>
            <p>Resources for Athlete Merchandise</p>
        </div>
    </div><!--.module_cont -->
    <div class="span3 module_cont module_iconboxes">
        <div class="shortcode_iconbox">
            <div class="ico">s</div>
            <h5 class="iconbox_title">Free Event Posting</h5>
            <p>No cost to place any type of combat event</p>
        </div>
    </div><!--.module_cont -->
    <div class="span3 module_cont module_iconboxes">
        <div class="shortcode_iconbox">
            <div class="ico">w</div>
            <h5 class="iconbox_title">Event Tools</h5>
            <p>Ticket and Event resources</p>
        </div>
    </div><!--.module_cont -->
</div><!-- .row-fluid -->

<div class="row-fluid">                                
    <div class="span12 module_cont module_promo_text">
        <h3 class="headInModule">What is The Fighter Web?</h3>
        <div class="shortcode_promoblock ">
            <h1>We are the one stop for all things Combat Sports</h1>
            <h4>No other site has the easy to use tools for both athletes and promoters of combat sports</h4>
            <h4>Wrestling | MMA | All Martial Arts | Boxing | Amatuer Events | Pro Events | Youth Events</h4>
        </div>
    </div><!--.module_cont -->
    <div class="clear"><!-- ClearFIX --></div>                                                                    
</div><!-- .row-fluid -->

<div class="row-fluid">
    <div class="span12 module_cont module_feature_posts">
        <h3 class="headInModule">Upcoming Events</h3>
        <div class="featured_slider">
            <div class="carouselslider featured_posts items4" data-count="4">
                <ul class="item_list">
                    <li>
                    <div class="item">
                        <div class="img_block">
                            <img src="{% static 'fighterweb/img/pictures/carousel_blog1.jpg' %}" />
                        </div>
                        <div class="carousel_title">
                            <h5><a href="#"> Blood and Sand XIV</a></h5>
                        </div>
                        <div class="carousel_desc">
                            <span class="post_type post_type_text"></span>
                            <div class="exc"><p>Biloxi Civic Center</p><a class="carousel_readmore" href="#">Read more...</a></div>
                        </div>
                    </div>
                    </li>                                          
                    <li>
                    <div class="item">
                        <div class="img_block"><img src="{% static 'fighterweb/img/pictures/carousel_blog2.jpg' %}" /></div>
                        <div class="carousel_title">
                            <h5><a href="#">Bellator MMA</a></h5>
                        </div>
                        <div class="carousel_desc">
                            <span class="post_type post_type_link"></span>
                            <div class="exc"><p>Thackerville, OK</p><a class="carousel_readmore" href="#">Read more...</a></div>
                        </div>
                    </div>
                    </li>                                          
                    <li>
                    <div class="item">
                        <div class="img_block"><img src="{% static 'fighterweb/img/pictures/carousel_blog3.jpg' %}" /></div>
                        <div class="carousel_title">
                            <h5><a href="#">Junior Greco World Duels</a></h5>
                        </div>
                        <div class="carousel_desc">
                            <span class="post_type post_type_slider"></span>
                            <div class="exc"><p>Curabitur feugiat nequt vel massa.</p><a class="carousel_readmore" href="#">Read more...</a></div>
                        </div>
                    </div>
                    </li>                                                                                                 
                    <li>
                    <div class="item">
                        <div class="img_block"><img src="{% static 'fighterweb/img/pictures/carousel_blog4.jpg' %}" /></div>
                        <div class="carousel_title">
                            <h5><a href="#">USA Junior Boxing</a></h5>
                        </div>
                        <div class="carousel_desc">
                            <span class="post_type post_type_slider"></span>
                            <div class="exc"><p>Curabitur feugiat nequt vel massa.</p><a class="carousel_readmore" href="#">Read more...</a></div>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="item">
                        <div class="img_block"><img src="{% static 'fighterweb/img/pictures/carousel_blog1.jpg' %}" /></div>
                        <div class="carousel_title">
                            <h5><a href="#"> Blood and Sand XIV</a></h5>
                        </div>
                        <div class="carousel_desc">
                            <span class="post_type post_type_text"></span>
                            <div class="exc"><p>Biloxi Civic Center</p><a class="carousel_readmore" href="#">Read more...</a></div>
                        </div>
                    </div>
                    </li>                                          
                    <li>
                    <div class="item">
                        <div class="img_block"><img src="{% static 'fighterweb/img/pictures/carousel_blog2.jpg' %}" /></div>
                        <div class="carousel_title">
                            <h5><a href="#">Bellator MMA</a></h5>
                        </div>
                        <div class="carousel_desc">
                            <span class="post_type post_type_link"></span>
                            <div class="exc"><p>Thackerville, OK</p><a class="carousel_readmore" href="#">Read more...</a></div>
                        </div>
                    </div>
                    </li>                                          
                    <li>
                    <div class="item">
                        <div class="img_block"><img src="{% static 'fighterweb/img/pictures/carousel_blog3.jpg' %}" /></div>
                        <div class="carousel_title">
                            <h5><a href="#">Junior Greco World Duels</a></h5>
                        </div>
                        <div class="carousel_desc">
                            <span class="post_type post_type_slider"></span>
                            <div class="exc"><p>Curabitur feugiat nequt vel massa.</p><a class="carousel_readmore" href="#">Read more...</a></div>
                        </div>
                    </div>
                    </li>                                                                                                 
                    <li>
                    <div class="item">
                        <div class="img_block"><img src="{% static 'fighterweb/img/pictures/carousel_blog4.jpg' %}" /></div>
                        <div class="carousel_title">
                            <h5><a href="#">USA Junior Boxing</a></h5>
                        </div>
                        <div class="carousel_desc">
                            <span class="post_type post_type_slider"></span>
                            <div class="exc"><p>Curabitur feugiat nequt vel massa.</p><a class="carousel_readmore" href="#">Read more...</a></div>
                        </div>
                    </div>
                    </li>

                </ul>                        
            </div>
            <div class="clear"></div>
        </div><!-- .featured_slider -->
    </div><!-- .module_cont -->                                    
</div><!-- .row-fluid -->

<div class="row-fluid">
    <div class="span4 module_cont module_accordion">
        <h3 class="headInModule">Why Use The Fighter Web?</h3>
        <div class="shortcode_accordion_shortcode accordion">
            <h5 class="shortcode_accordion_item_title expanded_yes" data-count="1">
                It is Free, Quick & Easy
                <span class="ico"></span>
            </h5>
            <div class="shortcode_accordion_item_body">
                <div class="ip">
                    Amatuer, Pro, Youth, Big, Small,.. It does not matter where the event is, a high school gym or Madison Square Garden The Fighter Web is here to support your event.  Our event entry tools are easy to use and fast.  We provide up to date ticket information, will-call, delivery options and free tickets to paid ticket services.  Simply enter your event details and let us handle the billing and logistics for you.                                                  
                </div>
            </div>
            <h5 class="shortcode_accordion_item_title" data-count="2">
                Athletes earn money directly
                <span class="ico"></span>
            </h5>
            <div class="shortcode_accordion_item_body">
                <div class="ip">
                    We provide a way for athletes to focus on training by giving them a place to put thier merchandise and tickets online. Our expert team of graphic designers will even help design custom logos for everything from shirts to shorts for you.  We then place those items on The Figther Web and handle all of the shipping and logistics.  In most cases we are able to triple the sales potential of athletes with none of the time away from training letting the athlete focus on what is most important.                                                  
                </div>
            </div>
            <h5 class="shortcode_accordion_item_title" data-count="3">
                Fans find you here
                <span class="ico"></span>
            </h5>
            <div class="shortcode_accordion_item_body">
                <div class="ip">
                    No matter what form or combat sport you are involved with Fans, Family & Friends are the backbone that drives our success.  The Fighter Web provides a single place on the web for anyone to find what they are looking for in their area.                                                       
                </div>
            </div>
        </div><!--.accordion--> 
    </div><!-- .module_cont -->

    <div class="span4 module_cont module_testimonial">
        <h3 class="headInModule">Testimonials</h3>
        <div class="module_content blockquote testimonials_list carouselslider items1" data-count="1">
            <ul>
                <li>
                <div class="item">
                    <div class="testimonials_photo">
                        <img src="{% static 'fighterweb/img/avatars/avatar1.png' %}" width="84" height="84">
                    </div>
                    <div class="testimonials_text">
                        <p>As a promoter and match maker I wanted to find a way to promote my events and athletes that was easy to use and effective.</p>
                        <p>The Fighter Web is the best online resource to merchandise, promote and help athletes sell tickets.  The service is free and the results are amazing.  Loading my events was easy and quick. No more driving around to sell tickets.  The athletes love it because they have the opportunity through The Fighter Web to get custom design merchandise that triples the sales the normally have.  The best site for combat sports events.  Period.</p>
                        <span class="text_light">Dean Toole, Island Fights CEO</span>
                    </div>
                </div>
                </li>
                <li>
                <div class="item">
                    <div class="testimonials_photo">
                        <img src="{% static 'fighterweb/img/avatars/avatar_none.png' %}" width="84" height="84">
                    </div>
                    <div class="testimonials_text">
                        <p>As a promoter and match maker I wanted to find a way to promote my events and athletes that was easy to use and effective.</p>
                        <p>The Fighter Web is the best online resource to merchandise, promote and help athletes sell tickets.  The service is free and the results are amazing.  Loading my events was easy and quick. No more driving around to sell tickets.  The athletes love it because they have the opportunity through The Fighter Web to get custom design merchandise that triples the sales the normally have.  The best site for combat sports events.  Period.</p>
                        <span class="text_light">Dean Toole, Island Fights CEO</span>
                    </div>
                </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="span4 module_cont module_text_area">
        <h3 class="headInModule">Featured Athlete - Dillon Cleckler</h3>
        <iframe width="370" height="230" src="http://www.youtube.com/embed/n6gzjz6ib8g" frameborder="0" allowfullscreen></iframe>
    </div><!-- .module_cont -->                                                
</div><!-- .row-fluid -->

<div class="row-fluid">
    <div class="span12 module_cont module_text_area">
        <hr class="light">
        <p>Let us design your shirts.  We can custom design any gear you may need.  We specialize in creating amazing merchandise designs that will get you noticed and get you generating income so you can train.  We will even sell and promote your merchandise online!  Contact us today to let us show you how we can help.</p>
    </div>								
</div><!-- .row-fluid -->
{% endblock content %}
