{% load staticfiles %}

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'fighterweb/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fighterweb/css/bootstrap-responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fighterweb/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fighterweb/css/theme.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'fighterweb/css/fonts.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'fighterweb/css/theme_settings.css' %}" id="theme_color">
<link rel="stylesheet" type="text/css" href="{% static 'fighterweb/css/rs-settings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fighterweb/css/fighterweb.css' %}">
