{% load staticfiles %}

<footer>
    <div class="footer_wrapper container">
        <a href="index.html" class="logo"><img src="{% static 'fighterweb/img/logo_footer.png' %}" alt=""  width="170" height="54" class="logo_def"><img src="{% static 'fighterweb/img/retina/logo_footer.png' %}" alt="" width="170" height="54" class="logo_retina"></a>
        <div class="copyright"><span>Combat Sports Evoloution</span>&copy; 2013 The Figther Web, LLC. All Rights Reserved<hr></div>
        <div class="footer_tools">
            <div class="footer_search_block footer_tool_block">
                <a href="javascript:void(0)" class="footer_search_toggler footer_tool_toggler"></a>
                <div class="footer_search_content">
                    <form name="search_form" method="get" action="" class="search_form">
                        <input type="text" name="search_field" value="Search the Site" title="Search the Site" class="field_search">
                    </form>
                </div>
            </div><!-- .header_social_block -->                
            <div class="footer_social_block footer_tool_block toggled">
                <a href="javascript:void(0)" class="footer_social_toggler footer_tool_toggler"></a>
                <div class="footer_social_content">
                    <ul>
                        <li><a href="#" class="ico_header-facebook"></a></li>
                        <li><a href="#" class="ico_header-twitter"></a></li>

                        <li><a href="#" class="ico_header-youtube"></a></li>
                        <li><a href="#" class="ico_header-gplus"></a></li>

                    </ul>
                </div>
            </div><!-- .header_social_block -->
        </div>
    </div>
    <hr>
</footer>
