{% load staticfiles %}

<div class="header_wrapper container">
  <a href="{% url "index" %}" class="logo"><img src="{% static 'fighterweb/img/logo.png' %}" alt=""  width="381" height="105" class="logo_def">
    <img src="{% static 'fighterweb/img/retina/logo.png' %}" alt="" width="381" height="105" class="logo_retina">
  </a>
  <div class="slogan"><span>Combat Sports Network</span><hr></div>
  <div class="header_tools">
    <div class="header_search_block header_tool_block">
      <a href="javascript:void(0)" class="header_search_toggler header_tool_toggler"></a>
      <div class="header_search_content">
        <form name="search_form" method="get" action="" class="search_form">
          <input type="text" name="search_field" value="Search the Site" title="Search the Site" class="field_search">
        </form>
      </div>
    </div><!-- .header_social_block -->
    <div class="header_social_block header_tool_block">
      <a href="javascript:void(0)" class="header_social_toggler header_tool_toggler"></a>
      <div class="header_social_content">
        <ul>
          <li><a href="{% url "contact:index" %}" class="ico_header-facebook"></a></li>
          <li><a href="{% url "contact:index" %}" class="ico_header-twitter"></a></li>
          <li><a href="{% url "contact:index" %}" class="ico_header-youtube"></a></li>
        </ul>
      </div>
    </div><!-- .header_social_block -->


    <div class="header_cart_block toggled header_tool_block">
      <a href="javascript:void(0)" class="header_cart_toggler header_tool_toggler"></a>
      <div class="header_cart_content">
        <!-- <span class="cart_cost">$200.00</span> -->
        <!-- <span class="cart_count">1 item</span> -->
      </div>
    </div><!-- .header_cart_block -->
    
  </div>

  <div class="login-button">
    {% if user.is_authenticated %}
    <a id="login-button" href="{% url "logout" %}" class="btn shortcode_button btn_small btn_type2">Logout</a>
    {% else %}
    <a id="login-button" href="{% url "auth:login" %}" class="btn shortcode_button btn_small btn_type2">Login / Create account</a>
    {% endif %}
  </div>
  
  <div class="clear"></div>
  <nav>
    <ul class="menu">
      <li class="current-menu-parent">
        <a href="{% url 'index' %}" title="Your Here Now!">Home</a>
      </li>
      <li>
        <a href="{% url 'events:list' %}" title="Events From All Across The U.S.">Events</a>
      </li>
      <li><a href="{% url 'profiles:list_athletes' %}" title="Find Local Athletes">Athletes</a>

      </li>
      <li><a href="{% url 'news:news_home' %}" title="The Latest Combat Sports News">News</a>

      </li>
      <li><a href="javascript:void(0)" title="Find Deals on Combat Sports Items">Store</a>

      </li>
      <li><a href="/pages/about/" title="What is The Fighter Web">About</a></li>
      <li><a href="{% url "contact:index" %}" title="Questions? Get in Touch">Contacts</a>

      </li>
    </ul>
    <!-- .menu -->
  </nav>
  <div class="clear"></div>
</div><!-- .header_wrapper -->
