{% load staticfiles %}
<!--[if IE 8 ]><script>
            var e = ("article,aside,figcaption,figure,footer,header,hgroup,nav,section,time").split(',');
            for (var i = 0; i < e.length; i++) {
                document.createElement(e[i]);
            }		
        </script><![endif]-->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.2/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'fighterweb/js/jquery.themepunch.plugins.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fighterweb/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'fighterweb/js/jquery.onebyone.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'fighterweb/js/theme.js' %}"></script>    
<script type="text/javascript" src="{% static 'fighterweb/js/fighterweb.js' %}"></script>
