{% if not user.is_authenticated %}
<div class="sidepanel widget_login">
  <h3 class="sidebar_header">User Login</h3>
  <form name="login_form" method="post" action="{% url 'auth:login' %}?next={% firstof request.path '/' %}" class="login_form">
    {% csrf_token %}
    <input type="text" name="username" value="Username or Email" title="Username or Email" class="form_field">
    <input type="password" name="password" value="Password" title="Password" class="form_field">
    <input type="submit" name="submit" class="btn_login" id="submit2" value="Login">
    <div class="forgot_password"><a href="#">Forgot Password?</a></div>
    <div class="clear"></div>
  </form>                                
</div>
{% endif %}
