{% load staticfiles %}

<div class="pre_footer">
            <div class="container">
                <aside id="footer_bar" class="row">
          
                    <div class="span3">
                        <div class="sidepanel widget_about">
                            <h3 class="sidebar_header">About Us</h3>
                            <p>The Fighter Web is a group of athletes, promoters and fans passionate about combat sports and thier exposure.</p>
                            <p><span class="colored2txt">We are dedicated</span> to providing the best online resource for fans, fighters and promoters to market for free.</p>
                            <p>Our group has years of experience in cordinating, managing and being involved with all forms of combats sports.  We are <span class="colored2txt">The Fighter Web.</span></p>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="sidepanel widget_flickr">
                            <h3 class="sidebar_header">Athlete Photostream</h3>
                            <div class="flickr_widget_wrapper">
                                <script src="http://www.flickr.com/badge_code_v2.gne?count=6&display=latest&size=s&layout=x&source=user&user=95624521@N04"></script>
                            </div>
                        </div><!-- .sidepanel -->                        
                    </div>
                    <div class="span3">
                        <div class="sidepanel widget_twitter">
                            <h3 class="sidebar_header">Featured Advertiser</h3>
                            <ul class="twitter_list tweet_1057"></ul>
                        </div><!-- .widget_twitter -->
                    </div>            	
                </aside>
            </div>
        </div><
