{% load staticfiles %}

<div class="search_block">
    <h3 class="title"><span class="red">Search</span> events</h3>
    <form action="#" class="search_events" method="post">
        <div class="block">
            <div class="block_title">
                <span class="red">01.</span>
                <label><input type="radio" name="search_events" value="radio" id="search_events_0">pro</label>
                <label><input type="radio" name="search_events" value="radio" id="search_events_1">amateur</label>
            </div>
        </div>
        <div class="block">
            <div class="block_title">
                <span class="red">02.</span>type of event
            </div>
            <select id="type-of-event-search">
                {% for fighter_type in fighter_types %}
                    <option value="{{ fighter_type.pk }}">{{ fighter_type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="block">
            <div class="block_title">
                <span class="red">03.</span>location
            </div>
            <div class="location city">
                <span class="loc_title">city</span>
                <input class="form_field" name="city" type="text" value="" />
            </div>
            <div class="location state">
                <span class="loc_title">state</span>
                <select>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
            <div class="location zip_code">
                <span class="loc_title">zip code</span>
                <input class="form_field" name="zipcode" type="text" value="" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="block">
            <div class="block_title">
                <span class="red">04.</span>when
            </div>
            <label class="date_wrap"><input type="text" class="datepicker_field form_field" name="date_from" /></label>
            <label class="date_wrap"><span class="date_separator">To:</span><input type="text" class="datepicker_field form_field" name="date_to" /></label>
        </div>
        <div class="block">
            <div class="block_title">
                <span class="red">05.</span><input class="submit_btn" type="button" value="submit" name="submit" />
            </div>
        </div>
    </form>

    <h3 class="title"><span class="red">Event</span> name</h3>
    <form action="#" class="event_name" method="post">
        <div class="event_name_fields">
            <div class="fleft">
                <input class="form_field" name="name" type="text" value="" id="event-name-search" />
            </div>
            <div class="fright">
                <input class="submit_btn" type="button" value="go" name="submit" />
            </div>
            <div class="clear"></div>
        </div>
    </form>
</div>

<div class="row-fluid">
    <div class="span12 module_cont module_revolution_slider module_revolution_slider rs-fullscreen_wrapper">
        <div class="rs-fullscreen">
            <div class="fullwidthbanner-container" >
                <div class="fullwidthbanner" >
                    <ul>
                        <!-- THE FIRST SLIDE -->
                        <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">
                        <img src="{% static 'fighterweb/img/slider/slide1.jpg' %}" alt=""/>
                        <!-- THE CAPTIONS OF THE FIRST SLIDE -->
                        <div class="caption sfb stb"
                            data-x="270"
                            data-y="177"
                            data-speed="600"
                            data-start="1100">

                            <img src="{% static 'fighterweb/img/slider/ls1f_img1.png' %}" alt="Image 1">
                        </div>

                        <div class="caption lfb ltb"
                            data-x="69"
                            data-y="30"
                            data-speed="600"
                            data-start="1200">
                            <img src="{% static 'fighterweb/img/slider/ls1f_img2.png' %}" alt="Image 2">
                        </div>

                        <div class="caption sft stt"
                            data-x="607"
                            data-y="56"
                            data-speed="600"
                            data-start="1300">
                            <img src="{% static 'fighterweb/img/slider/ls1f_img3.png' %}" alt="Image 3">
                        </div>

                        <div class="caption lfr ltr"
                            data-x="328"
                            data-y="90"
                            data-speed="300"
                            data-start="1400">
                            <img src="{% static 'fighterweb/img/slider/ls1f_img4.png' %}" alt="Image 4">
                        </div>

                        <div class="caption sfr str"
                            data-x="559"
                            data-y="318"
                            data-speed="600"
                            data-start="1500">
                            <img src="{% static 'fighterweb/img/slider/ls1f_img5.png' %}" alt="Image 5">
                        </div>

                        <div class="caption sfb stb"
                            data-x="652"
                            data-y="369"
                            data-speed="300"
                            data-start="1600">
                            <img src="{% static 'fighterweb/img/slider/ls1f_img6.png' %}" alt="Image 6">
                        </div>

                        <div class="caption lfb ltb"
                            data-x="-4"
                            data-y="280"
                            data-speed="300"
                            data-start="1700">
                            <img src="{% static 'fighterweb/img/slider/ls1f_img7.png' %}" alt="Image 7">
                        </div>
                        </li>

                        <!-- THE SECOND SLIDE -->
                        <li data-transition="slideright" data-slotamount="1" data-masterspeed="300">
                        <img src="{% static 'fighterweb/img/slider/slide2.jpg' %}" alt=""/>
                        <div class="caption sfb stb"
                            data-x="305"
                            data-y="59"
                            data-speed="600"
                            data-start="1100">
                            <img src="{% static 'fighterweb/img/slider/ls2_img1.png' %}" alt="Image 1">
                        </div>
                        <div class="caption sfl stl"
                            data-x="29"
                            data-y="219"
                            data-speed="600"
                            data-start="1200">
                            <img src="{% static 'fighterweb/img/slider/ls2_img2.png' %}" alt="Image 2">
                        </div>
                        <div class="caption sfl stl"
                            data-x="660"
                            data-y="287"
                            data-speed="600"
                            data-start="1300">
                            <img src="{% static 'fighterweb/img/slider/ls2_img3.png' %}" alt="Image 3">
                        </div>
                        <div class="caption sfr str"
                            data-x="887"
                            data-y="233"
                            data-speed="600"
                            data-start="1400">
                            <img src="{% static 'fighterweb/img/slider/ls2_img4.png' %}" alt="Image 4">
                        </div>
                        <div class="caption sfr str"
                            data-x="1067"
                            data-y="344"
                            data-speed="600"
                            data-start="1500">
                            <img src="{% static 'fighterweb/img/slider/ls2_img5.png' %}" alt="Image 5">
                        </div>
                        <div class="caption sft stt"
                            data-x="193"
                            data-y="118"
                            data-speed="600"
                            data-start="1600">
                            <img src="{% static 'fighterweb/img/slider/ls2_img6.png' %}" alt="Image 6">
                        </div>
                        <div class="caption sft stt"
                            data-x="30"
                            data-y="96"
                            data-speed="600"
                            data-start="1700">
                            <img src="{% static 'fighterweb/img/slider/ls2_img7.png' %}" alt="Image 7">
                        </div>
                        <div class="caption sft stt"
                            data-x="824"
                            data-y="100"
                            data-speed="400"
                            data-start="1800">
                            <img src="{% static 'fighterweb/img/slider/ls2_img8.png' %}" alt="Image 8">
                        </div>
                        <div class="caption sft stt"
                            data-x="927"
                            data-y="185"
                            data-speed="400"
                            data-start="1900">
                            <img src="{% static 'fighterweb/img/slider/ls2_img9.png' %}" alt="Image 9">
                        </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
            </div>
        </div>
    </div><!--.module_cont -->
    <div class="clear"><!-- ClearFIX --></div>
</div><!-- .row-fluid -->
