{% extends "layouts/base_nosidebar.html" %}

{% block slider %}

{% endblock %}


{% block content %}
  <div class="content_wrapper">
    <div class="container">
      <div class="content_block no-sidebar row">
        <div class="fl-container span12">
          <div class="row">
            <div class="posts-block span12">
              <div class="contentarea">

                <div class="row-fluid">
                  <div class="span12 module_cont module_google_map">
                    <h3 class="headInModule"><a name="anchor14"></a>Our Headquarters!</h3>
                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=pensacola+florida&amp;ie=UTF8&amp;hq=&amp;hnear=Pensacola,+Escambia,+Florida&amp;ll=30.421309,-87.216915&amp;spn=0.132485,0.264187&amp;t=p&amp;z=13&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=pensacola+florida&amp;ie=UTF8&amp;hq=&amp;hnear=Pensacola,+Escambia,+Florida&amp;ll=30.421309,-87.216915&amp;spn=0.132485,0.264187&amp;t=p&amp;z=13&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>
                  </div><!-- .module_cont -->
                </div><!-- .row-fluid -->
                <div class="row-fluid">
                  <div class="span12 module_cont module_text_area">
                    <p>The staff at The Fighter Web is always available to answer any questions you may have.  We have a dedicated team of professionals to help you with any questions you may have about entering an event, or placing merchandise on the site for purchase.  Please feel free to contact us with any impprovements or suggestions! </p>
                  </div>
                </div><!-- .row-fluid -->
                <div class="row-fluid">
                  <div class="span4 module_cont module_contact_info">
                    <h3 class="headInModule">Get in Touch!</h3>
                    <div class="continfo_item"><span class="ico_socialize_home ico_socialize type1"></span>P.O. Box 1943 Pensacola, FL 32501</div>
                    <div class="continfo_item"><span class="ico_socialize_phone ico_socialize type1"></span>+1 800 789 5012</div>
                    <div class="continfo_item"><span class="ico_socialize_mail ico_socialize type1"></span><a href="mailto:admin@thefighterweb.com">admin@thefighterweb.com</a></div>
                    <div class="continfo_item"><span class="ico_socialize_skype ico_socialize type1"></span>thefighterweb</div>
                    <div class="continfo_item"><span class="ico_socialize_twitter2 ico_socialize type1"></span><a href="#">http://www.twitter.com/thefighterweb</a></div>
                    <div class="continfo_item"><span class="ico_socialize_facebook1 ico_socialize type1"></span><a href="#">https://www.facebook.com/thefighterweb</a></div>

                    <div class="continfo_item"><span class="ico_socialize_youtube1 ico_socialize type1"></span><a href="#">http://www.youtube.com/thefighterweb</a></div>
                  </div><!-- .module_cont -->
                  <div class="span8 module_cont module_feedback_form">
                    <h3 class="headInModule">
                      <a name="anchor2"></a>
                      Feedback Form
                    </h3>
                    <form name="feedback_form" method="post" action="." class="feedback_form">
                      {% csrf_token %}
                      {% for field in form %}
                        {{ field }}
                      {% endfor %}
                      <input type="submit" name="submit" class="feedback_go" value="Send message!">
                      
                    </form>
                  </div><!-- .module_cont -->
                </div><!-- .row-fluid -->

              </div><!-- .contentarea -->
            </div>
            <div class="left-sidebar-block span3">
              <!-- Left Sidebar Text -->
            </div><!-- .left-sidebar -->
          </div>
          <div class="clear"><!-- ClearFix --></div>
        </div><!-- .fl-container -->
        <div class="right-sidebar-block span3">
          <aside class="sidebar">
            //Sidebar Text
          </aside>
        </div><!-- .right-sidebar -->
        <div class="clear"><!-- ClearFix --></div>
      </div>
    </div><!-- .container -->
  </div><!-- .content_wrapper -->
{% endblock content %}
