{% load thumbnail %}
<div class="fightcard row-fluid">
    <div class="fightcard-box span5">
      <img class="img-thumbnail" src="{% thumbnail home.picture 200x0 crop %}" alt="{{ home.user.first_name }}" />
      <h4>
        <a href="{{ home.get_absolute_url }}">{{ home }}</a>
      </h4>
    </div>

    <div class="fightcard-vs span2">
      <p>
        vs.
      </p>
    </div>

    <div class="fightcard-box span5">
      <img class="img-thumbnail" src="{% thumbnail away.picture 200x0 crop %}" alt="{{ away.user.first_name }}" />
      <h4>
        <a href="{{ away.get_absolute_url }}">{{ away }}</a>
      </h4>
    </div>
</div>
