<legend>Ticket</legend>
{% for field in ticket_form %}
    {% if not field.is_hidden %}
        <div class="control-group">
            {% if field.errors %}
                <div class="alert alert-error">
                    {{ field.errors }}
                </div>
            {% endif %}
            <label class="control-label" for="">{{ field.label_tag }}</label>

            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endif %}
{% endfor %}
<button data-url="{% url "events:add_tickets" slug=event.slug %}" id="ticket-form-trigger" class="btn btn-danger wizard-button">Add ticket</button>
