/* Floating search form */
#search-form {
    background-color: white;
    position: absolute;
    z-index: 35000;
    margin-top: 100px;
}

form#create-event-form input {
    width: 400px;
}

.vs-card {
    text-align: center;
    padding-top: 80px;
    color: red;
    /* color: white; */
    /* background-color: rgb(69, 69, 69); */
}

/* .purchase_tickets { */
/*     float: right; */
/* } */

/* Make the display list of the event shop a bit nicer */
ul.ticket-hud > li {
    margin: 0z;
    padding: 0;
    text-align: left;
}

.cart > div > h4 {
    margin-bottom: 0;
}

.cart > div {
    margin-bottom: 18px;
}

/* Make the fightcard container as God intended */
.fightcard {
    background-color: rgb(44, 44, 44);
    padding-top: 12px;
    padding-bottom: 12px;
}

ul.fightcards {
    list-style: none;
    padding:0;
    margin:0;
}

ul.fightcards > li {
    margin-bottom: 36px;
}

ul.fightcards > li:nth-child(odd) {
    margin: 0;
    padding: 0;
}

ul.fightcards > li:first-child {
    margin: 0;
    padding: 0;
}

.fightcard-box {
    text-align: center;
    float: left;
}

.fightcard-vs {
    float:left;
    height: 165px;
}

.fightcard-vs > p {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 300%;
    margin-top: 100px;
    margin-left: 18px;
    margin-right: 18px;
}

.fightcard-box > h4 {
    margin-top: 24px;
}

.fightcard-box a {
    color: white;
    font-weight: bold;
}

.wizard-button {
    float: right;
}