a, input, select, textarea {
    outline:none !important;
}

.fleft {
    float:left;
}

.fright {
    float:right;
}

.clear {
	height:0;
	clear:both;
	font-size:0;
	display:block;
}

img {
	outline:0;
	vertical-align:top;
	max-width:100%;
	border:0;
}

ul {
	padding:0;
	margin:0;
	list-style:none;
}

li {
	padding:0;
	margin:0;
}

.red {
    color:#f7270b;
}

h3.title {
	padding:0 0 12px 0;
	margin:0;
	line-height:25px;
	font-size:20px;
	color:#333;
	font-weight:normal;
	text-transform:uppercase;
}

.search_block {
    position: absolute;
    z-index: 35000;
	margin-top: -10px;
	padding:17px;
	width:350px;
	background:#fff;
	border:2px #999 solid;
}

.form_field {
	background: #e5e5e5;
    border: 1px #505050 solid;
	border-bottom:0;
	border-left:0;
    border-radius: 0;
    box-shadow: none;	
    color: #666;
	font-family:Arial;
	font-size:11px;
	text-transform:uppercase;
    display: inline-block;
	vertical-align:top;	
    height: 24px;
    line-height: 24px;	
    margin: 0 5px 0 0;
    padding: 0 6px;
    position: relative;
    transition: all 400ms ease 0s;
	width:90px;
	position:relative;
}
.form_field:focus {background:#dcdcdc;
}
.submit_btn {
	background: #ff0000;
    border: 1px #590000 solid;
	border-bottom:0;
	border-left:0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family:Arial;
	font-size:15px;
    height: 25px;
    line-height: 24px;
    margin: 0;
    overflow: hidden;
    padding: 0 6px;
    position: relative;
    text-transform: uppercase;
    transition: all 400ms ease 0s;
}
.submit_btn:hover {background:#e00d0d;
}
.block_title {
	padding:0 0 3px 0;
	margin:0;
	line-height:20px;
	font-size:16px;
	color:#333;
	text-transform:uppercase;
}
.block_title label  {
	display:inline-block;
	margin:0 49px 0 0;
	padding:0;
	vertical-align:top;
}
.block_title span.red  {
	display:inline-block;
	margin:0 10px 0 0;
	vertical-align:top;
}
.block_title .submit_btn {margin-top:-2px;
}

.search_events {
    margin:2px 0 4px 0;
}

input[type="radio"] {
	padding:0;
	margin:3px 10px 0 -4px;
	display:inline-block;
	vertical-align:top;
}

.block {
    padding-bottom:12px;
}

span.customSelect {
	background: #e5e5e5;
    border: 1px #505050 solid;
	border-bottom:0;
	border-left:0;
	padding:2px 6px;
	width:359px;
	text-transform:uppercase;
	color: #666;
	font-family:Arial;
	font-size:11px;
	height:20px;
	overflow:hidden;
}
span.customSelect.changed {background-color: #dcdcdc;
}
.customSelectInner {
	background:url(../img/customSelect-arrow.png) no-repeat top right;
	display:block !important;
	width:100% !important;
}

.search_block select option {
    font-size:13px;
}

.location {
	float:left;
	margin-right:9px;
}

.city {
    /*width:157px;*/
    height: 25px;
}

.state {
    width:116px;
}

.state > select {
    width: 110px;
}

.zip_code {
	margin-right:0 !important;
	width:80px;
}

.loc_title {
	display:block;
	line-height:19px;
	font-size:13px;
	text-transform:uppercase;
	color:#666;
}
.location.state span.customSelect {
    width:103px;
}
.date_wrap {
	position:relative;
	display:inline-block;
	vertical-align:top;
	padding:0;
	margin:0;
	font-size:13px;
	text-transform:uppercase;
	color:#666;
	line-height:25px;
}

span.date_separator {padding:0 5px 0 15px;
}

.date_wrap:after {
	width:20px;
	height:20px;
	background:url(../img/date.png) no-repeat left top;
	position:absolute;
	right:8px;
	top:3px;
	content:'';
	z-index:10;
}

#event-name-search {
    width: 280px;
}

#type-of-event-search {
    width: 350px;
}
