{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "fighterweb/css/shop.css" %}">
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static "fighterweb/js/shop.js" %}"></script>
{% endblock js %}

{% block slider %}
{% endblock slider %}

{% block content %}
<div class="row-fluid">
  <div class="span6 module_cont">
    <div class="product_image">
      <img src="{% thumbnail promoter.picture 420x0 crop %}" alt=""/>
    </div>
  </div>
  <div class="span6 module_cont">
    <h1 class="product_title">{{ promoter }}</h1>
    <!-- <h2 class="product_price">$200 <span class="product_oldprice">$400</span></h2> -->
    <article class="description">
      {{ promoter.bio }}
    </article>
    
    <!-- <form class="cart" method="post" action=""> -->
    <!--   <div class="quantity"> -->
    <!--     <input class="minus" type="button"> -->
    <!--     <input type="text" class="input-text qty" data-max="0" data-min="1" value="1"> -->
    <!--     <input class="plus" type="button"> -->
    <!--   </div> -->
    <!--   <a href="#" class="product_add2cart">add to cart</a> -->
    <!-- </form> -->
    
    <div class="product_meta">
      <div class="sku"><span>Name: </span>{{ promoter }}.</div>
      <div class="tagged_as"><span>Company: {{ promoter.company_name }}.</div>
    </div>
  </div>								
</div><!-- .row-fluid -->

<div class="row-fluid">
  <div class="span12 module_cont module_tabs">
    <div class="shortcode_tabs">
      <div class="all_heads_cont">
        <div class="shortcode_tab_item_title it1 head1 active" data-open="body1">Description</div>
        <div class="shortcode_tab_item_title it2 head2" data-open="body2">Additional Information</div>
        <div class="shortcode_tab_item_title it3 head3" data-open="body3">Reviews (2)</div>
      </div>
      <div class="all_body_cont">
        <div class="shortcode_tab_item_body body1 it1">
          <div class="ip">
            <h4>Product Description</h4>
            <p>Etiam iaculis imperdiets nibh ac viverra telluset tismod est aliquam. Pellentesquet nisi tortor, elementum vivamus. Vitae posuere eget, ornare ac quis purustin cuts sagittisegs quam, nec tristique sapien ornare ut. Pellentesque habitant. </p>
            <p>Stique acunsapien ornare ut inentum vitaert vivamus lore. Accunsapien ornare ut elementum vitaert vivamus lore.morbi tristique senectus et netus et malesuada fames ac lore turpis egestas dictumero. Lorem ipsum dolor sit amet, onsectetur dipiscsing ut adipiscinget urna eget mi, sit amet dapibuse vehicula. Dapibus just id eget amollis libero pulvinar <a href="#">lores utegetsas</a>. Per inceptos himenaeos. Fusce in est ac libero eget euismod fringilla eu in mauris vestibulum. Aenean vel leo at lorem sollicitudin venenatis ac et sem. Donec viverra, nisi at aliquam tincidunt, <a href="#">massa mi lore</a> condimentum risus, non dapibus ipsum dolor ac enim. Fusce tincidunt orci et dolor rutrum cursus eget vehicula tortor bibendum. Nam gravida, ligula eget lacinia porttitor, mauris orci sodales urna, eu tempus lorem nisl non orci.</p>
          </div>
        </div>
        <div class="shortcode_tab_item_body body2 it2">
          <div class="ip">
            <div class="attributes_wrapper">
              <h4>Additional Information</h4>
              <table class="shop_attributes">
                <tr>
                  <th>Weight</th>
                  <td>100 kg</td>
                </tr>
                <tr>
                  <th>Dimensions</th>
                  <td>200 x 70 x 80 cm</td>
                </tr>
              </table>
            </div>                 
          </div>
        </div>
        <div class="shortcode_tab_item_body body3 it3">
          <div class="ip">
            <div class="reviews_head">
              <h4>2 Reviews for Item 01. Lorem Ipsum</h4>
              <div class="stars"><span class="star4"></span></div>
            </div>
            <div class="clear"></div>
            <ul class="product_review">
              <li class="review">
                <div class="stand_review">
                  <div class="reviewava"><img class="avatar photo" width="84" height="84" src="img/avatars/avatar1.png" alt=""></div>
                  <div class="review_body">
                    <div class="review_meta">
                      <span class="author_name"><a class="url" href="#">Anna Smith</a></span>
                      <span class="date">25 apr 2019</span>
                      <span class="comments"><a href="#respond" class="comment-reply-link">Reply</a></span>
                      <div class="stars"><span class="star3"></span></div>
                    </div>
                    <p>Etiam iaculis imperdiets nibh, ac viverra telluset. Euismod aliquam. Pellentesquet nisi tortor, elementum.
                      Vitae posuere eget, ornare quis purustin lost rhoncus sagittis mattis. Vestibulum los egest tincidunt eget es molestie.</p>
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <li class="review">
                <div class="stand_review">
                  <div class="reviewava"><img class="avatar photo" width="84" height="84" src="img/avatars/avatar2.png" alt=""></div>
                  <div class="review_body">
                    <div class="review_meta">
                      <span class="author_name"><a class="url" href="#">Anna Smith</a></span>
                      <span class="date">25 apr 2019</span>
                      <span class="comments"><a href="#respond" class="comment-reply-link">Reply</a></span>
                      <div class="stars"><span class="star5"></span></div>
                    </div>
                    <p>Etiam iaculis imperdiets nibh, ac viverra telluset. Euismod aliquam. Pellentesquet nisi tortor, elementum.
                      Vitae posuere eget, ornare quis purustin lost rhoncus sagittis mattis. Vestibulum los egest tincidunt eget es molestie.</p>
                  </div>
                  <div class="clear"></div>                                                                        
                </div>
              </li>
            </ul>
            <a href="#" class="shortcode_button btn_small btn_type1">Add Review</a>
          </div>
        </div>
      </div>
    </div><!-- .shortcode_tabs -->                             
    <script type="text/javascript">
      jQuery('.shortcode_tabs').each(function(index) {									
      /* GET ALL HEADERS */
      var i = 1;
      jQuery('.shortcode_tab_item_title').each(function(index) {
      jQuery(this).addClass('it'+i); jQuery(this).attr('whatopen', 'body'+i);
      jQuery(this).addClass('head'+i);
      jQuery(this).parents('.shortcode_tabs').find('.all_heads_cont').append(this);
      i++;
      });
      /* GET ALL BODY */
      var i = 1;
      jQuery('.shortcode_tab_item_body').each(function(index) {
      jQuery(this).addClass('body'+i);
      jQuery(this).addClass('it'+i);
      jQuery(this).parents('.shortcode_tabs').find('.all_body_cont').append(this);
      i++;
      });
      });
      jQuery('.shortcode_tabs .all_body_cont div:first-child').addClass('active');
      jQuery('.shortcode_tabs .all_heads_cont div:first-child').addClass('active');
      
      jQuery('.shortcode_tab_item_title').live('click', function(){
      jQuery(this).parents('.shortcode_tabs').find('.shortcode_tab_item_body').removeClass('active');
      jQuery(this).parents('.shortcode_tabs').find('.shortcode_tab_item_title').removeClass('active');
      var whatopen = jQuery(this).attr('data-open');
      jQuery(this).parents('.shortcode_tabs').find('.'+whatopen).addClass('active');
      jQuery(this).addClass('active');
      }); 								
    </script>                                        
  </div><!-- .module_cont -->
</div><!-- .row-fluid -->                                    

<div class="row-fluid">
  <div class="span12 module_cont module_feature_posts">
    <h3 class="headInModule">Related Products</h3>
    <div class="featured_slider">
      <div class="carouselslider featured_posts items3" data-count="3">
        <ul class="item_list">                                                    
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product7.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>                                          
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product8.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>                                          
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product9.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product4.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>                                          
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product5.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>                                          
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product6.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div><!-- .featured_slider -->
  </div><!-- .module_cont -->
</div><!-- .row-fluid -->
{% endblock content %}
