{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "fighterweb/css/shop.css" %}">
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static "fighterweb/js/shop.js" %}"></script>
{% endblock js %}

{% block slider %}
{% endblock slider %}


{% block content %}
<div class="row-fluid">
  <div class="span6 module_cont">
    <div class="product_image">
      <img src="{% thumbnail athlete.picture 420x0 crop %}" alt=""/>
    </div>
  </div>
  <div class="span6 module_cont">
    <h1 class="product_title">{{ athlete }}</h1>
    <!-- <h2 class="product_price">$200 <span class="product_oldprice">$400</span></h2> -->
    <article class="description">
      {{ athlete.bio }}
    </article>
    
    <!-- <form class="cart" method="post" action=""> -->
    <!--   <div class="quantity"> -->
    <!--     <input class="minus" type="button"> -->
    <!--     <input type="text" class="input-text qty" data-max="0" data-min="1" value="1"> -->
    <!--     <input class="plus" type="button"> -->
    <!--   </div> -->
    <!--   <a href="#" class="product_add2cart">add to cart</a> -->
    <!-- </form> -->
    
    <div class="product_meta">
      <div class="sku"><span>Name: </span>{{ athlete }}.</div>
      <div class="posted_in"><span>Wins: {{ athlete.wins }}.</div>
      <div class="tagged_as"><span>Loses: {{ athlete.loses }}.</div>
    </div>
  </div>								
</div><!-- .row-fluid -->

                                    

<div class="row-fluid">
  <div class="span12 module_cont module_feature_posts">
    <h3 class="headInModule">Related Products</h3>
    <div class="featured_slider">
      <div class="carouselslider featured_posts items3" data-count="3">
        <ul class="item_list">                                                    
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product7.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>                                          
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product8.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>                                          
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product9.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product4.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>                                          
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product5.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>                                          
          <li>
            <div class="item shop_list_item">
              <div class="shop_list_image">
                <img src="img/shop/products/product6.jpg" alt=""/>
              </div>
              <div class="shop_list_descr">
                <a href="javascript:void(0)" class="add2cart"></a>
                <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a>
                <div class="shop_list_price">$200.00</div>
                <div class="shop_list_oldprice">$400.00</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div><!-- .featured_slider -->
  </div><!-- .module_cont -->
</div><!-- .row-fluid -->
{% endblock content %}
