{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "fighterweb/css/shop.css" %}">
{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}
<div class="row-fluid">
  <div class="span12 module_cont module_text_area">
    <h1 class="headInModule">Athletes
    <a href="{% url "events:create" %}" class="shortcode_button btn_normal btn_type10" style="float: right;">Enter Athlete</a></h1>
    <hr class="content_type">
  </div>								
</div><!-- .row-fluid -->

<div class="row-fluid">
  <div class="span12 module_cont module_shop">
    <div class="module_shop_wrapper">
      {% for athlete in athlete_list %}
      <div class="shop_list_item">
        <div class="shop_list_image">
          <img src="{% thumbnail athlete.picture 270x175 crop %}" alt=""/>
        </div>
        <div class="shop_list_descr">
          
          <a href="{{ athlete.get_absolute_url }}" class="sop_list_title">{{ athlete }}</a>
        </div>
      </div><!-- .shop_list_item -->
      {% endfor %}
      <div class="clear"></div>
    </div><!-- .module_shop_wrapper -->
    <div class="shop_filter_price">
      <select id="filter_price">
        <option>Amateur</option>
        <option>Pro</option>
        
      </select>
    </div>
    
  </div>
</div><!-- .row-fluid -->
{% endblock content %}