{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "fighterweb/css/shop.css" %}">
{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}

  <div class="row-fluid">
    <div class="span12 module_cont module_text_area">
      <h1 class="headInModule">Promoters</h1>
      <hr class="content_type">
    </div>
  </div><!-- .row-fluid -->

  <div class="row-fluid">
    <div class="span12 module_cont module_shop">
      <div class="module_shop_wrapper">
        {% for promoter in promoter_list %}
          <div class="shop_list_item">
            <div class="shop_list_image">
              <img src="{% thumbnail promoter.picture 270x175 crop %}" alt=""/>
            </div>
            <div class="shop_list_descr">
              <a href="javascript:void(0)" class="add2cart"></a>
              <a href="{{ promoter.get_absolute_url }}" class="sop_list_title">{{ promoter }}</a>
            </div>
          </div><!-- .shop_list_item -->
        {% endfor %}
        <div class="clear"></div>
      </div><!-- .module_shop_wrapper -->
      <div class="shop_filter_price">
        <select id="filter_price">
          <option>Sort by Price</option>
          <option>Sort by Name</option>
          <option>Sort by Rate</option>
        </select>
      </div>
      <div class="shop_filter_older">
        <a href="#" class="shortcode_button btn_small btn_type1">Older</a>
      </div>
    </div>
  </div><!-- .row-fluid -->
{% endblock content %}
