{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "fighterweb/css/shop.css" %}">
    <link rel="stylesheet" href="{% static "fighterweb/css/datetimepicker.css" %}"/>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "fighterweb/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "fighterweb/js/events.js" %}"></script>
{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}
    <div class="row-fluid">
    <div class="span12 module_cont module_tabs">
    <h3 class="headInModule"><a name="anchor10"></a>Create new event</h3>

    <div class="shortcode_tabs">
        <div class="all_heads_cont">
            <div id="step1-tab" class="shortcode_tab_item_title it1 head1" data-open="body1">Step 1 (Event information)</div>
            <div id="step2-tab" class="shortcode_tab_item_title it2 head2" data-open="body2">Step 2 (Ticket information)</div>
            <div id="step3-tab" class="shortcode_tab_item_title it3 head3" data-open="body3">Step 3 (Shows)</div>
        </div>
        <div class="all_body_cont">
            <div class="shortcode_tab_item_body body1 it1">
                <div class="ip">
                    {% for key, value in form.errors.items  %}
                        <div class="alert alert-error">
                            {{ key }}: {{ value }}
                        </div>
                    {% endfor %}
                    <form action="#" method="post" accept-charset="utf-8"
                          class="form-horizontal">
                        {% csrf_token %}
                        <input type="hidden" name="promoter" value="{{ request.user.pk }}"/>
                        <fieldset>
                            <legend>Information</legend>
                            <div class="control-group">
                                <label class="control-label" for="title_id">{{ form.name.label_tag }}</label>

                                <div class="controls">
                                    {{ form.name }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="shortdescription_id">
                                    {{ form.short_description.label_tag }}
                                </label>

                                <div class="controls">
                                    {{ form.short_description }}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="description_id">
                                    {{ form.description.label_tag }}
                                </label>

                                <div class="controls">
                                    {{ form.description }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Date and Time</legend>
                            <div class="control-group">
                                <label class="control-label" for="starton_id">
                                    {{ form.starts.label_tag }}
                                </label>

                                <div class="controls">
                                    {{ form.starts }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Venue Information</legend>
                            <div class="control-group">
                                <label class="control-label" for="">{{ form.seating.label_tag }}</label>
                                <div class="controls">
                                    {{ form.seating }}
{#                                    <label class="radio" for="">#}
{#                                        <input type="radio" name="seating" checked>#}
{#                                        Open seating venue#}
{#                                    </label>#}
{#                                    <label class="radio" for="">#}
{#                                        <input type="radio" name="seating">#}
{#                                        Has reserved seating#}
{#                                    </label>#}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="venue_id">{{ form.venue.label_tag }}</label>

                                <div class="controls">
                                    {{ form.venue }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="id_state">{{ form.state.label_tag }}</label>
                                <div class="controls">
                                    {{ form.state }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="id_city">
                                    {{ form.city.label_tag }}
                                </label>
                                <div class="controls">
                                    {{ form.city }}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="">{{ form.zip_code.label_tag }}</label>

                                <div class="controls">
                                    {{ form.zip_code }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Attendance Rules</legend>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox">
                                        Allow anyone to view and attend this event?
                                        {{ form.is_published }}
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Event picture</legend>
                            <div class="control-group">
                                <label class="control-label" for="">
                                    {{ form.picture.label_tag }}
                                </label>
                                <div class="controls">
                                    {{ form.picture }}
                                </div>
                            </div>
                        </fieldset>

                        <input type="submit" value="Next >>" class="btn btn-danger wizard-button" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- .shortcode_tabs -->


    <script type="text/javascript">
{#        jQuery('.shortcode_tabs').each(function (index) {#}
{#            /* GET ALL HEADERS */#}
{#            var i = 1;#}
{#            jQuery('.shortcode_tab_item_title').each(function (index) {#}
{#                jQuery(this).addClass('it' + i);#}
{#                jQuery(this).attr('whatopen', 'body' + i);#}
{#                jQuery(this).addClass('head' + i);#}
{#                jQuery(this).parents('.shortcode_tabs').find('.all_heads_cont').append(this);#}
{#                i++;#}
{#            });#}
{#            /* GET ALL BODY */#}
{#            var i = 1;#}
{#            jQuery('.shortcode_tab_item_body').each(function (index) {#}
{#                jQuery(this).addClass('body' + i);#}
{#                jQuery(this).addClass('it' + i);#}
{#                jQuery(this).parents('.shortcode_tabs').find('.all_body_cont').append(this);#}
{#                i++;#}
{#            });#}
{#        });#}

        jQuery(".shortcode_tabs .all_body_cont div:first-child").addClass('active');
        jQuery('.shortcode_tabs .all_heads_cont div:first-child').addClass('active');

{#        jQuery('.shortcode_tab_item_title').live('click', function () {#}
{#            jQuery(this).parents('.shortcode_tabs').find('.shortcode_tab_item_body').removeClass('active');#}
{#            jQuery(this).parents('.shortcode_tabs').find('.shortcode_tab_item_title').removeClass('active');#}
{#            var whatopen = jQuery(this).attr('data-open');#}
{#            jQuery(this).parents('.shortcode_tabs').find('.' + whatopen).addClass('active');#}
{#            jQuery(this).addClass('active');#}
{#        });#}
    </script>
    </div>
    <!-- .module_cont -->
    </div><!-- .row-fluid -->
{% endblock content %}