{% extends "layouts/base_nosidebar.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block slider %}
{% endblock slider %}

{% block content %}
 <div class="row-fluid">
   <div class="span12 module_cont module_text_area">
     <div class="row-fluid">
       <div class="span9">
         <img src="{% thumbnail event.picture 840x0 crop %}" class="" alt="" />
       </div>
       <div class="span3 hero-unit">
         <ul>
             <li>{{ event.name }}</li>
             <li>{{ event.venue }}</li>
             <li>{{ event.starts }}</li>
         </ul>
       </div>
     </div>
   </div>								
 </div><!-- .row-fluid -->

 <div class="row-fluid">                                
   <div class="span12 module_cont module_promo_text">
     <div class="shortcode_promoblock ">
       <div class="row-fluid">
         <div class="span6 promo_text_block">
           <h1>{{ event.name }}</h1>
           <h4>{{ event.description|truncatewords:"11" }}</h4>
         </div>
         <div class="span6 promo_button_block">
           <a href="{{ event.get_shop_url }}" class="shortcode_button btn_large btn_type1 purchase_tickets">Purchase Tickets!</a>
         </div>
       </div>
     </div>
   </div><!--.module_cont -->
   <div class="clear"><!-- ClearFIX --></div>                                                                    
 </div><!-- .row-fluid -->

 <div class="row-fluid">
   <div class="span12">
     <div class="row-fluid">
     <ul class="fightcards">
     {% for fight in event.fight_set.all %}
     <li class="span6">
         {{ fight.display }}
     </li>
     {% endfor %}
     </ul>
     </div>
   </div>
 </div>

 <div class="row-fluid">
 </div><!-- .row-fluid --> 
</div>
{% endblock content %}
