{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "fighterweb/css/shop.css" %}">
{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}

  <div class="row-fluid">
    <div class="span12 module_cont module_text_area">
      <h1 class="headInModule">
        Events
        {% if request.user.is_authenticated %}


        <a href="{% url "events:create" %}" class="shortcode_button btn_normal btn_type10" style="float: right;">Create Event</a>

        {% endif %}
      </h1>
      <hr class="content_type">
    </div>
  </div><!-- .row-fluid -->

  <div class="row-fluid">
    <div class="span12 module_cont module_shop">

      <div class="module_shop_wrapper">
        {% for event in event_list %}
          <div class="shop_list_item">
            <div class="shop_list_image">
              {% if event.picture %}
                <img src="{% thumbnail event.picture 270x175 crop %}" alt=""/>
              {% else %}
                <img src="#" alt=""/>
              {% endif %}
            </div>
            <div class="shop_list_descr">
              <a href="javascript:void(0)" class="add2cart"></a>
              <a href="{{ event.get_absolute_url }}" class="sop_list_title">{{ event.name }}</a>

              <div class="shop_list_price">Starting from {{ event.get_lowest_price }}</div>
            </div>
          </div><!-- .shop_list_item -->
        {% endfor %}
        <div class="clear"></div>
      </div><!-- .module_shop_wrapper -->

    </div>
  </div><!-- .row-fluid -->
{% endblock content %}
