{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "fighterweb/css/shop.css" %}">
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static "fighterweb/js/shop.js" %}"></script>
{% endblock js %}

{% block slider %}
{% endblock slider %}

{% block content %}
<div class="row-fluid">
  <div class="span6 module_cont">
    <div class="product_image">
      <img src="{% thumbnail event.picture 420x0 crop %}" alt=""/>
      <h1 class="product_title">{{ event }}</h1>
      <div class="tagged_as"><strong>Date: {{ event.starts }}</strong></div>
    </div>
  </div>
  <div class="span6 module_cont">
    
    <!-- <h2 class="product_price"> -->
    <!--   {{ event.get_lowest_price }} <span class="product_oldprice">{{ event.get_highest_price }}</span> -->
    <!-- </h2> -->
    
     <form class="cart" method="post" action="">
      {% for ticket in event.ticket_set.all.0.ticketvariant_set.all %}
      <div>
        <h4>{{ ticket.seating }}</h4>
        <div class="quantity">
          <input class="minus" type="button" />
          <input type="text" class="input-text qty" data-max="0" data-min="1" value="1" />
          <input class="plus" type="button" />
        </div>
      </div>
      {% endfor %}
      <a href="#" class="product_add2cart">add to cart</a>
    </form>
  </div>								
</div><!-- .row-fluid -->

<div class="row-fluid">
  <div class="span12 module_cont module_tabs">
    <div class="shortcode_tabs">
      <div class="all_heads_cont">
        <div class="shortcode_tab_item_title it1 head1 active" data-open="body1">Description</div>
        <div class="shortcode_tab_item_title it2 head2" data-open="body2">Additional Information</div>
        
      </div>
      <div class="all_body_cont">
        <div class="shortcode_tab_item_body body1 it1">
          <div class="ip">
            {{ event.description }}
          </div>
        </div>
        <div class="shortcode_tab_item_body body2 it2">
          <div class="ip">
            <div class="attributes_wrapper">
              <h4>Additional Information</h4>
              
            </div>                 
          </div>
        </div>

      </div>
    </div><!-- .shortcode_tabs -->                             
    <script type="text/javascript">
      jQuery('.shortcode_tabs').each(function(index) {									
      /* GET ALL HEADERS */
      var i = 1;
      jQuery('.shortcode_tab_item_title').each(function(index) {
      jQuery(this).addClass('it'+i); jQuery(this).attr('whatopen', 'body'+i);
      jQuery(this).addClass('head'+i);
      jQuery(this).parents('.shortcode_tabs').find('.all_heads_cont').append(this);
      i++;
      });
      /* GET ALL BODY */
      var i = 1;
      jQuery('.shortcode_tab_item_body').each(function(index) {
      jQuery(this).addClass('body'+i);
      jQuery(this).addClass('it'+i);
      jQuery(this).parents('.shortcode_tabs').find('.all_body_cont').append(this);
      i++;
      });
      });
      jQuery('.shortcode_tabs .all_body_cont div:first-child').addClass('active');
      jQuery('.shortcode_tabs .all_heads_cont div:first-child').addClass('active');
      
      jQuery('.shortcode_tab_item_title').live('click', function(){
      jQuery(this).parents('.shortcode_tabs').find('.shortcode_tab_item_body').removeClass('active');
      jQuery(this).parents('.shortcode_tabs').find('.shortcode_tab_item_title').removeClass('active');
      var whatopen = jQuery(this).attr('data-open');
      jQuery(this).parents('.shortcode_tabs').find('.'+whatopen).addClass('active');
      jQuery(this).addClass('active');
      }); 								
    </script>                                        
  </div><!-- .module_cont -->
</div><!-- .row-fluid -->                                    

<!-- <div class="row-fluid"> -->
<!--   <div class="span12 module_cont module_feature_posts"> -->
<!--     <h3 class="headInModule">Related Products</h3> -->
<!--     <div class="featured_slider"> -->
<!--       <div class="carouselslider featured_posts items3" data-count="3"> -->
<!--         <ul class="item_list">                                                     -->
<!--           <li> -->
<!--             <div class="item shop_list_item"> -->
<!--               <div class="shop_list_image"> -->
<!--                 <img src="img/shop/products/product7.jpg" alt=""/> -->
<!--               </div> -->
<!--               <div class="shop_list_descr"> -->
<!--                 <a href="javascript:void(0)" class="add2cart"></a> -->
<!--                 <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a> -->
<!--                 <div class="shop_list_price">$200.00</div> -->
<!--                 <div class="shop_list_oldprice">$400.00</div> -->
<!--               </div> -->
<!--             </div> -->
<!--           </li>                                           -->
<!--           <li> -->
<!--             <div class="item shop_list_item"> -->
<!--               <div class="shop_list_image"> -->
<!--                 <img src="img/shop/products/product8.jpg" alt=""/> -->
<!--               </div> -->
<!--               <div class="shop_list_descr"> -->
<!--                 <a href="javascript:void(0)" class="add2cart"></a> -->
<!--                 <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a> -->
<!--                 <div class="shop_list_price">$200.00</div> -->
<!--                 <div class="shop_list_oldprice">$400.00</div> -->
<!--               </div> -->
<!--             </div> -->
<!--           </li>                                           -->
<!--           <li> -->
<!--             <div class="item shop_list_item"> -->
<!--               <div class="shop_list_image"> -->
<!--                 <img src="img/shop/products/product9.jpg" alt=""/> -->
<!--               </div> -->
<!--               <div class="shop_list_descr"> -->
<!--                 <a href="javascript:void(0)" class="add2cart"></a> -->
<!--                 <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a> -->
<!--                 <div class="shop_list_price">$200.00</div> -->
<!--                 <div class="shop_list_oldprice">$400.00</div> -->
<!--               </div> -->
<!--             </div> -->
<!--           </li> -->
<!--           <li> -->
<!--             <div class="item shop_list_item"> -->
<!--               <div class="shop_list_image"> -->
<!--                 <img src="img/shop/products/product4.jpg" alt=""/> -->
<!--               </div> -->
<!--               <div class="shop_list_descr"> -->
<!--                 <a href="javascript:void(0)" class="add2cart"></a> -->
<!--                 <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a> -->
<!--                 <div class="shop_list_price">$200.00</div> -->
<!--                 <div class="shop_list_oldprice">$400.00</div> -->
<!--               </div> -->
<!--             </div> -->
<!--           </li>                                           -->
<!--           <li> -->
<!--             <div class="item shop_list_item"> -->
<!--               <div class="shop_list_image"> -->
<!--                 <img src="img/shop/products/product5.jpg" alt=""/> -->
<!--               </div> -->
<!--               <div class="shop_list_descr"> -->
<!--                 <a href="javascript:void(0)" class="add2cart"></a> -->
<!--                 <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a> -->
<!--                 <div class="shop_list_price">$200.00</div> -->
<!--                 <div class="shop_list_oldprice">$400.00</div> -->
<!--               </div> -->
<!--             </div> -->
<!--           </li>                                           -->
<!--           <li> -->
<!--             <div class="item shop_list_item"> -->
<!--               <div class="shop_list_image"> -->
<!--                 <img src="img/shop/products/product6.jpg" alt=""/> -->
<!--               </div> -->
<!--               <div class="shop_list_descr"> -->
<!--                 <a href="javascript:void(0)" class="add2cart"></a> -->
<!--                 <a href="product_info.html" class="sop_list_title">Item 01. Lorem Ipsum</a> -->
<!--                 <div class="shop_list_price">$200.00</div> -->
<!--                 <div class="shop_list_oldprice">$400.00</div> -->
<!--               </div> -->
<!--             </div> -->
<!--           </li> -->
<!--         </ul> -->
<!--       </div> -->
<!--       <div class="clear"></div> -->
<!--     </div><\!-- .featured_slider -\-> -->
<!--   </div><\!-- .module_cont -\-> -->
<!-- </div> --><!-- .row-fluid -->
{% endblock content %}