{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "fighterweb/css/shop.css" %}">
    <link rel="stylesheet" href="{% static "fighterweb/css/datetimepicker.css" %}"/>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "fighterweb/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script type="text/javascript">
     $(document).ready(function(){
            $("#id_starts_at").datetimepicker({
                autoclose: true,
                startView: 0,
                format: "hh:ii"
            });
     
            $("#id_ends_at").datetimepicker({
                autoclose: true,
                startView: 0,
                format: "hh:ii"
            });

            $("#show-form-trigger").click(function(e){
                e.preventDefault();
                //serialize
                var data = $("#add-shows-form").formSerialize();
                // get url
                var url = $("#show-form-trigger").data("url");

                console.log(data);

                $.post(url, data, function(data){
                    console.log(data);
                    $("#show-form-space").prepend("<div class='alert alert-success'>show succesfully added</div>");
                    $("#add-shows-form").resetForm();
                });
            });
        });
    </script>
{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}
    <div class="row-fluid">
    <div class="span12 module_cont module_tabs">
    <h3 class="headInModule"><a name="anchor10"></a>Create new event</h3>

    <div class="shortcode_tabs">
        <div class="all_heads_cont">
            <div id="info-tab" class="shortcode_tab_item_title it1 head1" data-open="body1">Step 1 (Event information)</div>
            <div id="ticket-tab" class="shortcode_tab_item_title it2 head2" data-open="body2">Step 2 (Ticket information)</div>
            <div id="show-tab" class="shortcode_tab_item_title it3 head3" data-open="body3">Step 3 (Shows)</div>
{#            <div id="attachment-tab" class="shortcode_tab_item_title it4 head4" data-open="body4">Step 4 (Attachments)</div>#}
        </div>
        <div class="all_body_cont">
            <div class="shortcode_tab_item_body body1 it1">
                <div class="ip">

                    <form action="#" method="post" accept-charset="utf-8"
                          class="form-horizontal">
                        <fieldset>
                            <legend>Information</legend>
                            <div class="control-group">
                                <label class="control-label" for="title_id">Title</label>

                                <div class="controls">
                                    <input type="text" placeholder="Please enter your event's title"
                                           id="title_id" class=""/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="shortdescription_id">Short description</label>

                                <div class="controls">
                                    <input type="text" placeholder="Please enter a brief description about the event"
                                           id="shortdescription_id" class=""/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="description_id">Description</label>

                                <div class="controls">
                                    <textarea id="description_id" name="" cols="30" rows="10" class=""
                                              placeholder="Full event description">
                                    </textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Date and Time</legend>
                            <div class="control-group">
                                <label class="control-label" for="starton_id">Event date and time</label>

                                <div class="controls">
                                    <input type="text" placeholder="Please select a date from the dropdown"
                                           id="starton_id" class=""/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Venue Information</legend>
                            <div class="control-group">
                                <label class="control-label" for="">Type of seating</label>
                                <div class="controls">
                                    <label class="radio" for="">
                                        <input type="radio" name="seating">
                                        Open seating venue
                                    </label>
                                    <label class="radio" for="">
                                        <input type="radio" name="seating">
                                        Has reserved seating
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="venue_id">Venue location</label>

                                <div class="controls">
                                    <input type="text" placeholder="Enter venue name"/>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Attendance Rules</legend>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox">
                                        Allow anyone to view and attend this event?
                                        <input type="checkbox">
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="shortcode_tab_item_body body2 it2">
                <div class="ip">
                    <form action="#" method="post" accept-charset="utf-8" class="form-horizontal">
                        <fieldset>
                            <legend>Ticketing option</legend>
                            <div class="control-group">
                                <label class="control-label" for="">
                                    Prerequisites
                                </label>
                                <div class="controls">
                                    <label class="radio" for="">
                                        <input type="radio" name="ticketing_options">
                                        No tickets required
                                    </label>
                                    <label class="radio" for="">
                                        <input type="radio" name="ticketing_options">
                                        Tickets required
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Fulfillment options</legend>
                            <div class="control-group">
                                <label class="control-label" for="">Ticket distribution</label>
                                <div class="controls">
                                    <label class="checkbox" for="">
                                        <input type="checkbox">
                                        Will call
                                    </label>
                                    <label class="checkbox" for="">
                                        <input type="checkbox">
                                        Print at home
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Online sales preferences</legend>
                            <div class="control-group">
                                <label class="control-label">Fighterweb service fees</label>

                                <div class="controls">
                                    <label for="radio">
                                        <input type="radio" name="service_fees">
                                        I will pay service fees
                                    </label>
                                    <label for="radio">
                                        <input type="radio" name="service_fees">
                                        Split service fees
                                    </label>
                                    <label for="radio">
                                        <input type="radio" name="service_fees">
                                        Add service fees to ticket price
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="shortcode_tab_item_body body3 it3">
                <div class="ip">
                    <form class="form-horizontal" action="{% url "events:add_shows" slug=event.slug %}" id="add-shows-form" method="post">
                    {% csrf_token %}
                        <fieldset id="show-form-space">
                            {% with fight_form as show_form %}
                                {% include "events/widgets/show_form.html" %}
                            {% endwith %}
                        </fieldset>

                        <fieldset>
                            <legend>Finish creation process</legend>
                            <a href="{{ event.get_absolute_url }}" class="btn btn-danger wizard-button">Finish</a>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="shortcode_tab_item_body body4 it4">
                <div class="ip">
                    <form action="#" method="post" accept-charset="utf-8" class="form-horizontal">
                        <fieldset>
                            <legend>Cover picture</legend>
                            <div class="control-group">
                                <label class="control-label" for="title_id">Upload picture</label>

                                <div class="controls">
                                    <input type="file" placeholder="Please enter your event's title"
                                           id="title_id" class=""/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- .shortcode_tabs -->

    <script type="text/javascript">
{#        jQuery('.shortcode_tabs').each(function (index) {#}
{#            /* GET ALL HEADERS */#}
{#            var i = 1;#}
{#            jQuery('.shortcode_tab_item_title').each(function (index) {#}
{#                jQuery(this).addClass('it' + i);#}
{#                jQuery(this).attr('whatopen', 'body' + i);#}
{#                jQuery(this).addClass('head' + i);#}
{#                jQuery(this).parents('.shortcode_tabs').find('.all_heads_cont').append(this);#}
{#                i++;#}
{#            });#}
{#            /* GET ALL BODY */#}
{#            var i = 1;#}
{#            jQuery('.shortcode_tab_item_body').each(function (index) {#}
{#                jQuery(this).addClass('body' + i);#}
{#                jQuery(this).addClass('it' + i);#}
{#                jQuery(this).parents('.shortcode_tabs').find('.all_body_cont').append(this);#}
{#                i++;#}
{#            });#}
{#        });#}

        // This is just beyond disgusting. When designers that get text editors attack...
        jQuery(".shortcode_tabs .all_body_cont div:nth-child(3)").addClass('active');
        jQuery('.shortcode_tabs .all_heads_cont div:nth-child(3)').addClass('active');

{#        jQuery('.shortcode_tab_item_title').live('click', function () {#}
{#            jQuery(this).parents('.shortcode_tabs').find('.shortcode_tab_item_body').removeClass('active');#}
{#            jQuery(this).parents('.shortcode_tabs').find('.shortcode_tab_item_title').removeClass('active');#}
{#            var whatopen = jQuery(this).attr('data-open');#}
{#            jQuery(this).parents('.shortcode_tabs').find('.' + whatopen).addClass('active');#}
{#            jQuery(this).addClass('active');#}
{#        });#}
    </script>
    </div>
    <!-- .module_cont -->
    </div><!-- .row-fluid -->
{% endblock content %}
