{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load form_helpers %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "fighterweb/css/shop.css" %}">
    <link rel="stylesheet" href="{% static "fighterweb/css/datetimepicker.css" %}"/>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "fighterweb/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "fighterweb/js/events.js" %}"></script>
{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}
    <div class="row-fluid">
    <div class="span12 module_cont module_tabs">
    <h3 class="headInModule"><a name="anchor10"></a>Create new event</h3>

    <div class="shortcode_tabs">
        <div class="all_heads_cont">
            <div id="step1-tab" class="shortcode_tab_item_title it1 head1" data-open="body1">Login</div>
        </div>
        <div class="all_body_cont">
            <div class="shortcode_tab_item_body body1 it1">
                <div class="ip">
                    {% for key, value in form.errors.items  %}
                        <div class="alert alert-error">
                            {{ key }}: {{ value }}
                        </div>
                    {% endfor %}
                    <form action="{% url "auth:login" %}" method="post" accept-charset="utf-8"
                          class="form-horizontal">
                      {% csrf_token %}
                      <fieldset>
                        <legend>User login</legend>
                        {% for field in form %}
                          <div class="control-group">
                            {{ field|add_class:"control-label" }}
                            <div class="controls">
                              {{ field }}
                            </div>
                          </div>
                        {% endfor %}
                        <div class="control-group">
                          <div class="controls">
                            <input type="submit" value="Login" class="btn btn-danger" />  <a class="btn btn-success" href="{% url "profiles:create_user" %}">No  account yet?</a>
                          </div>
                        </div>
                      </fieldset>
                      
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- .shortcode_tabs -->


    <script type="text/javascript">
{#        jQuery('.shortcode_tabs').each(function (index) {#}
{#            /* GET ALL HEADERS */#}
{#            var i = 1;#}
{#            jQuery('.shortcode_tab_item_title').each(function (index) {#}
{#                jQuery(this).addClass('it' + i);#}
{#                jQuery(this).attr('whatopen', 'body' + i);#}
{#                jQuery(this).addClass('head' + i);#}
{#                jQuery(this).parents('.shortcode_tabs').find('.all_heads_cont').append(this);#}
{#                i++;#}
{#            });#}
{#            /* GET ALL BODY */#}
{#            var i = 1;#}
{#            jQuery('.shortcode_tab_item_body').each(function (index) {#}
{#                jQuery(this).addClass('body' + i);#}
{#                jQuery(this).addClass('it' + i);#}
{#                jQuery(this).parents('.shortcode_tabs').find('.all_body_cont').append(this);#}
{#                i++;#}
{#            });#}
{#        });#}

        jQuery(".shortcode_tabs .all_body_cont div:first-child").addClass('active');
        jQuery('.shortcode_tabs .all_heads_cont div:first-child').addClass('active');

{#        jQuery('.shortcode_tab_item_title').live('click', function () {#}
{#            jQuery(this).parents('.shortcode_tabs').find('.shortcode_tab_item_body').removeClass('active');#}
{#            jQuery(this).parents('.shortcode_tabs').find('.shortcode_tab_item_title').removeClass('active');#}
{#            var whatopen = jQuery(this).attr('data-open');#}
{#            jQuery(this).parents('.shortcode_tabs').find('.' + whatopen).addClass('active');#}
{#            jQuery(this).addClass('active');#}
{#        });#}
    </script>
    </div>
    <!-- .module_cont -->
    </div><!-- .row-fluid -->
{% endblock content %}
