{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "fighterweb/css/shop.css" %}">
{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}
<div class="row-fluid">
  <div class="span12 module_cont module_text_area">
    <h1 class="headInModule">News</h1>
    <p>MMA news from all over the web. Stay in touch with the latest updates.</p>
    <hr class="content_type">
  </div>                
</div><!-- .row-fluid -->

<div class="row-fluid">                                
  <div class="span12 module_cont module_blog">
    {% for entry in entries %}
    <div class="blog_post_preview">
      <div class="blogpost_info_wrapper">
        <span class="post_type post_type_text"></span>
        <a class="blogpost_title" href="blogpost_full.html"><h5>{{ entry.title }}</h5></a>
        <div class="blog_info_block">
          <div class="author_name"><a href="#">{{ entry.author }}</a></div>
          <div class="date">{{ entry.published_datetime|date:"j M Y" }}</div>
          {% comment %} <div class="blog_tags">Tags: <a href="#">finances</a>, <a href="#">business</a>, <a href="#">analisys</a>, <a href="#">resources</a></div> {% endcomment %}
        </div>
        {% comment %} <div class="category">In <a href="#">Finances</a>, <a href="#">Business</a></div> {% endcomment %}
      </div>                                                        
      <article class="contentarea">
        {{ entry.content_parsed|truncatewords:"300"|safe }} <a href="{{ entry.link }}" target="_blank" class="more-link">Read more...</a>
      </article>
    </div><!--.blog_post_preview -->
    {% endfor %}



    {% comment %} <div class="blog_post_preview">
      <div class="featured_image_full">
        <div style="background-color:grey; width:870px; height:284px"></div>
      </div>
      <div class="blogpost_info_wrapper">
        <span class="post_type post_type_image"></span>
        <a class="blogpost_title" href="blogpost_full.html"><h5>New York Business Center</h5></a>
        <div class="blog_info_block">
          <div class="author_name"><a href="#">Tom Simpson</a></div>
          <div class="date">25 apr 2019</div>
          <div class="blog_tags">Tags: <a href="#">new york</a>, <a href="#">architecture</a>, <a href="#">city</a>, <a href="#">business</a>, <a href="#">life</a>, <a href="#">people</a></div>
        </div>
        <div class="category">In <a href="#">New York</a>, <a href="#">Architecture</a></div>
      </div>                                                        
      <article class="contentarea">
        Imperdiets nibh, ac viverra telluset, euismod aliquam. Pellentesque nisi tortor, elementum vitae posuere egets ornare quis purus. Proins rhoncus sagittis mattis. Vestibulum tincidunt molestie quarm, nec tristique sapien etiam iaculis mattis. Vestibulum tincidunt molestie nam dictum, libero vel pharetra convallis, augue risus gravida leo, sed ultricies dolor mi eu neque. <a href="blogpost_full.html" class="more-link">Read more...</a>
      </article>
    </div><!--.blog_post_preview --> {% endcomment %}

    {% comment %} <div class="blog_post_preview">
      <div class="blogpost_info_wrapper">
        <span class="post_type post_type_text"></span>
        <a class="blogpost_title" href="blogpost_full.html"><h5>Industry Analysis Resources</h5></a>
        <div class="blog_info_block">
          <div class="author_name"><a href="#">Tom Simpson</a></div>
          <div class="date">25 apr 2019</div>
          <div class="blog_tags">Tags: <a href="#">finances</a>, <a href="#">business</a>, <a href="#">analisys</a>, <a href="#">resources</a></div>
        </div>
        <div class="category">In <a href="#">Finances</a>, <a href="#">Business</a></div>
      </div>                                                        
      <article class="contentarea">
        Imperdiets nibh, ac viverra telluset, euismod aliquam. Pellentesque nisi tortor, elementum vitae posuere egets ornare quis purus. Proins rhoncus sagittis mattis. Vestibulum tincidunt molestie quarm, nec tristique sapien etiam iaculis mattis. Vestibulum tincidunt molestie nam dictum, libero vel pharetra convallis, augue risus gravida leo, sed ultricies dolor mi eu neque mattis. Vestibulum tincidunt molestien quam, nec tristique sapien ornare ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas nam dictum, libero vel pharetra convallis, augue risus gravida leo, sed ultricies dolor mi eu neque. Phasellus eleifend. <a href="blogpost_full.html" class="more-link">Read more...</a>
      </article>
    </div><!--.blog_post_preview --> {% endcomment %}

    {% comment %} <div class="blog_post_preview">
      <div class="featured_image_full">
        <div style="background-color:grey; width:870px; height:284px"></div>
      </div>
      <div class="blogpost_info_wrapper">
        <span class="post_type post_type_link"></span>
        <a class="blogpost_title" href="blogpost_full.html"><h5>Modern Dress Code Policy</h5></a>
        <div class="blog_info_block">
          <div class="author_name"><a href="#">Tom Simpson</a></div>
          <div class="date">25 apr 2019</div>
          <div class="blog_tags">Tags: <a href="#">fashion</a>, <a href="#">dress code</a>, <a href="#">people</a>, <a href="#">design</a></div>
        </div>
        <div class="category">In <a href="#">Fashion</a>, <a href="#">Design</a></div>
      </div>                                                        
      <article class="contentarea">
        Imperdiets nibh, ac viverra telluset, euismod aliquam. Pellentesque nisi tortor, elementum vitae posuere egets ornare quis purus. Proins rhoncus sagittis mattis. Vestibulum tincidunt molestie quarm, nec tristique sapien etiam iaculis mattis. Vestibulum tincidunt molestie nam dictum, libero vel pharetra convallis, augue risus gravida leo, sed ultricies dolor mi eu neque. <a href="blogpost_full.html" class="more-link">Read more...</a>
      </article>
    </div><!--.blog_post_preview --> {% endcomment %}
    
    {% comment %}  <ul class="pagerblock">
      <!--<li><a href="#"><span class="btn_prev">Previous</span></a></li>-->
      <li><a class="current" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <!--<li><a href="#"><span class="btn_next">Next</span></a></li>-->
    </ul><!-- .pagerblock --> {% endcomment %}
  </div>                
</div><!-- .row-fluid --> 
{% endblock content %}